# FalkorDB connection
FALKORDB_HOST=falkordb
FALKORDB_PORT=6379
FALKORDB_GRAPH=worldview_osint

# Express backend URL (use host.docker.internal when running in Docker)
BACKEND_URL=http://host.docker.internal:3001

# Ingestion intervals (seconds)
MIL_FLIGHT_POLL_INTERVAL=15
